@import '../../../../content/scss/green-life-variables';

$menuBar: 57px;
$footer: 74px;
$marginBottom: 20px;
$marginTop: 20px;
.container {
    // margin-top: $marginTop;
}

agm-map {
    width: 100%;
    height: calc(100vh - 57px - 74px - 20px);
}

.map-container {
    position: relative;
}

.filters {
    position: absolute;
    background: #fff;
    max-height: calc(100vh - 57px - 74px - 20px - 20px);
    width: 200px;
    top: 10px;
    left: 10px;
    padding: 10px;
}

mat-slider,
mat-form-field {
    width: 100%;
}

mat-form-field {
    padding: 0 10px;
}

//BUSCADOR

.buscador {
    width: 100%;
    width: 60%;
    position: relative;
    margin: 70px 0 0 203px;
    padding: 0 0 50px 0;
}

.buscadorTerm {
    float: left;
    width: 90%;
    margin-left: 70px;
    border: 3px solid $lightgray-color;
    padding: 5px;
    height: 36px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
}

.buscadorTerm:focus{
    color: $lightgray-color;
}

.buscadorButton {
    position: absolute;
    right: -30px;
    width: 40px;
    height: 36px;
    border: 1px solid $lightgray-color;
    background: $lightgray-color;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.buscadorSelect {
    position: absolute;
    left: -10px;
    width: 85px;
    height: 36px;
    border: 1px solid $lightgray-color;
    background: $lightgray-color;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

mat-select{
    font-size: 12px;
    text-align: center;
    padding-top: 10px;
}
