$menuBar: 57px;
$footer: 74px;
$marginBottom: 20px;
$marginTop: 20px;
.container {
    // margin-top: $marginTop;
}

agm-map {
    width: 100%;
    height: calc(100vh - 57px - 74px - 20px);
}

.map-container {
    position: relative;
}

.filters {
    position: absolute;
    background: #fff;
    height: calc(100vh - 57px - 74px - 20px - 20px);
    width: 300px;
    top: 10px;
    left: 10px;
    padding: 10px;
}