@import '../../../../content/scss/green-life-variables';

.iconImg {
    background: url("../../../../content/images/localSymbolic.png") no-repeat center center;
}

.config-section {
    padding: 10px 0 80px 0;
}

h3 {
    color: $config-green-color;
    padding: 12px 0;
}

h5 {
    color: $config-green-color;
    padding: 10px 0;
}

p {
    color: $config-dark-gray-color;
}

.map-container {
    border-radius: 6px;
    box-shadow:  0 1px 3px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}

.form-container {
    padding-top: 30px;
}

mat-icon {
    color: $config-green-color;
}

agm-map {
    height: 400px;
}

mat-form-field {
    width: 100%;
}

.logo-container {
    width: 100%;
}

.logo-container img {
    display: block;
    max-width: 350px;
    max-height: 250px;
    height: auto;
    width: auto;
    margin: 0 auto;
}

.ng-invalid:not(form) {
    border-left: unset;
}

.btnPrimary {
    color: #FFFFFF;
    background: $config-green-color;
    box-shadow:  0 1px 3px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    float: right;
    margin: 20px 0 0 10px;
}

.btnSecondary {
    color: $config-green-color;
    background: #FFFFFF;
    border-color: $config-green-color;
    box-shadow:  0 1px 3px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    float: right;
    margin: 20px 10px 0 0;
}

.btn-mi-ubicacion {
    color: #FFFFFF;
    background: $config-dark-gray-color;
    border-color: $config-dark-gray-color;
    box-shadow:  0 1px 3px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    margin: 8px 0;
    display: block;
    .fa {
        margin: 0 7px 0 0;
    }
}
