<div class="title-bar-config">
    <div class="col-md-auto" *ngIf="comercio">
        <h1>
            <span class="title-bar-config-icon icon"><span class="iconImg"></span></span>
            Locales {{comercio.razonSocial}}
        </h1>
        <button class="btn btn-atras-header-configuracion" (click)="irAtras()">Atrás</button>
    </div>
</div>

<div class="container">
    <div class="row config-section">
        <div class="col-md-5">
            <h3>Mapa de locales</h3>
            <div class="map-container">
                <agm-map
                    [latitude]="lat"
                    [longitude]="long"
                    [zoom]="zoom"
                    (mapClick)="mapClicked($event)">
                    <agm-marker
                        [latitude]="marker.lat"
                        [longitude]="marker.long"
                        [markerDraggable]="true"
                        (dragEnd)="markerDragEnd($event)">
                    </agm-marker>
                </agm-map>
            </div>
            <h5>Ubicación en el mapa</h5>
            <p class="mb-1">Latitud: {{marker.lat}}</p>
            <p class="mt-1">Longitud: {{marker.long}}</p>
            <button class="btn btn-sm btn-mi-ubicacion" (click)="getCurrentLocation()"><i class="fa fa-crosshairs"></i>Mi ubicación</button>
        </div>
        <div class="col-md-6 ml-5">
            <h3>Información del local</h3>
            <div class="logo-container">
                <img *ngIf="comercio && newLocal.fachadaId" [src]="hostPath + newFachada.urlImage" alt="">
                <img *ngIf="!(newLocal && newLocal.fachadaId)" src="http://s1.iconbird.com/ico/0912/MetroUIDock/w512h5121347464853ImageGoogleDocs.png" alt="">
            </div>
            <button mat-icon-button (click)="openImageDialog()">
                <mat-icon>edit</mat-icon>
            </button>
            <div class="form-container">
                <form [formGroup]="formLocales">
                    <mat-form-field>
                        <input matInput placeholder="Nombre" formControlName="nombre">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput jhiValidadorNumero placeholder="Teléfono" formControlName="telefono">
                        <mat-error *ngIf="formLocales.get('telefono').invalid">
                            El número de teléfono debe de contener 8 números
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <textarea matInput matTextareaAutosize matAutosizeMinRows="4" matAutosizeMaxRows="4"  placeholder="Dirección" formControlName="direccion"></textarea>
                    </mat-form-field>
                    <h5>Horario</h5>
                    <mat-form-field>
                        <input matInput type="time" placeholder="Hora de apertura" formControlName="horaApertura">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="time" placeholder="Hora de cierre" formControlName="horaCierre">
                    </mat-form-field>
                    <button class="btn btnPrimary" (click)="createLocal()">Crear</button>
                </form>
                <button class="btn btnSecondary" (click)="cancel()">Cancelar</button>
            </div>
        </div>
    </div>
</div>
