<div>
    <h2>
        <span>Resena Clientes</span>
        <button class="btn btn-primary float-right jh-create-entity create-resena-cliente" [routerLink]="['/', { outlets: { popup: ['resena-cliente-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down" >
            Create new Resena Cliente
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="resenaClientes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Fecha Creacion</span></th>
            <th><span>Calificacion</span></th>
            <th><span>Comentario</span></th>
            <th><span>Comercio</span></th>
            <th><span>Cliente</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let resenaCliente of resenaClientes ;trackBy: trackId">
                <td><a [routerLink]="['../resena-cliente', resenaCliente.id ]">{{resenaCliente.id}}</a></td>
                <td>{{resenaCliente.fechaCreacion | date:'mediumDate'}}</td>
                <td>{{resenaCliente.calificacion}}</td>
                <td>{{resenaCliente.comentario}}</td>
                <td>
                    <div *ngIf="resenaCliente.comercioId">
                        <a [routerLink]="['../comercio', resenaCliente.comercioId  ]" >{{resenaCliente.comercioId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="resenaCliente.clienteId">
                        <a [routerLink]="['../cliente', resenaCliente.clienteId  ]" >{{resenaCliente.clienteId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../resena-cliente', resenaCliente.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'resena-cliente/'+ resenaCliente.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'resena-cliente/'+ resenaCliente.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
