
<div *ngIf="lineaProducto">
    <h2><span>Linea Producto</span> {{lineaProducto.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Cantidad</span></dt>
        <dd>
            <span>{{lineaProducto.cantidad}}</span>
        </dd>
        <dt><span>Precio Unitario</span></dt>
        <dd>
            <span>{{lineaProducto.precioUnitario}}</span>
        </dd>
        <dt><span>Producto</span></dt>
        <dd>
            <div *ngIf="lineaProducto.productoId">
                <a [routerLink]="['/producto', lineaProducto.productoId]">{{lineaProducto.productoId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'linea-producto/'+ lineaProducto.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
