.iconImg {
    background: url("../../../../content/images/configuracion.png") no-repeat center center;
}

agm-map {
    height: 200px;
}

.map-container {
    margin-bottom: 20px;
}

.btn-success {
    background-color: #6AABAD !important
}