// Estilos de los roles de usuario
.containerRoles {
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(gray, 1 * 0.14), 0 1px 2px rgba(gray, 1  * 0.24);
}
.mat-subheader {
    font-weight: 700 !important;
    font-size: 23px !important;
    color: #46B97E !important;
}
.mat-line {
    font-size: 16px !important;
    color: #40535C !important;
}
