<div class="footer container-fluid">
    <div class="row">
        <div class="col-md-5" id="sobreNosotros">
            <h3>Green Life</h3>
            <p>
                Ofrecemos una gran variedad de comercios orientados a varios tipos de alimentación, realizamos pedidos personalizados y
                promovemos el cuido del medio ambiente.
            </p>
            <button type="button" class="btn btn-outline-success btn-sm btn-block">Licenciamiento Iconografía</button>
        </div>
    </div>
    <hr class="divider">
    <div class="row">
        <div class="col" id="derechosReservados">
            <p>© 2018 Green Life. Todos los Derechos Reservados.</p>
        </div>
    </div>
</div>
