#title {
    font-size: 18px;
    text-align: center;
    color: #46B97E;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}
form {
    font-family: 'Lato', sans-serif;
    margin-top: 15px;
}
.alert {
    padding: 8px;
    margin-top: 13px;
}