<h1 id="title">Iniciar Sesión</h1>
<form [formGroup]="formulario">
  <mat-form-field>
    <input matInput placeholder="Nombre de usuario" formControlName="username">
  </mat-form-field>
  <mat-form-field>
    <input type="password" matInput placeholder="Contraseña" formControlName="password">
  </mat-form-field>
  <div *ngIf="!isValid" class="alert alert-danger">
    <strong>Error!</strong> {{ msgError }}
  </div>
  <button type="button" class="btn btn-secondary" mat-dialog-close id="btnCancelar">Cancelar</button>
  <button type="submit" class="btn btn-success" [disabled]="!formulario.valid" (click)="login()" id="btnLogin">Ingresar</button>
</form>