/**** Sección del título ****/
.title-section {
    background-color: #46B97E;
    text-align: center;
    color: white;
}
.title-container {
    padding-top: 100px;
}
.title-container .title {
    margin: 0px;
    font-size: 85px;
    font-weight: bold;
}
.title-container .divider {
    margin: 90px 0px 0px 0px;
    display: block;
    unicode-bidi: isolate;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
    width: 200px;
    -webkit-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.75);
}
.title-container .sub-title {
    margin: 20px 0px 0px 0px;
    font-weight: normal;
    font-size: 30px;
}
/**** Sección de los servicios y beneficios ****/
.services-section {
    text-align: center;
    background-color: white;
}
.services-container {
    padding-top: 50px;
}
.services-container .title{
    color: #46B97E;
    font-weight: normal;
    font-size: 40px;
}
.services-container .service {
    margin-top: 100px;
    padding: 0px 50px;
}
.services-container .service-name {
    color: #46B97E;
    font-weight: bold;
    font-size: 27px;
}
.services-container .service-title {
    color: #38CAE0;
    font-weight: bold;
    font-size: 17px;
}
.services-container .service-desc {
    color: #38CAE0;
    font-weight: normal;
    font-size: 17px;
    margin: 5px;
}
/**** Sección Estándar ****/
.section .picture {
    background-repeat: no-repeat, repeat;
    background-size: cover;
}
.section .content {
    padding: 0px 0px 0px 45px;
}
.section .content .title {
    color: white;
    font-weight: normal;
    font-size: 38px;
}
.section .content .divider{
    display: block;
    unicode-bidi: isolate;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
    width: 100px;
    -webkit-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.75);
    margin-bottom: 10px;
}
.section .content .desc {
    color: white;
    font-weight: normal;
    font-size: 22px;
    padding-right: 20px;
}
.section .content .link {
    background-color: white;
    padding: 10px;
    text-decoration: none;
    color: #38CAE0;
    margin-top: 10px;
    font-size: 18px;
    display: inline-block;
}
/**** Sección de alimentación ****/
.alimentation-section {
    background-color: #38CAE0;
}
.alimentation-section .picture {
    background-image: url("../../../content/images/suscripcionesServicio.jpg");
}
/**** Sección de suscripción ****/
.suscription-section {
    background-color:#46B97E;
}
.suscription-section .picture {
    background-image: url("../../../content/images/suscripcionesServicio.jpg");
}