<jhi-navbar-greenlife></jhi-navbar-greenlife>
<div class="container-fluid">
  <div class="row">
    <div id="main-section">
      <h1>Green Life</h1>
      <hr class="divider">
      <h2>Tu espacio alimenticio adaptado a tu estilo de vida</h2>
    </div>
  </div>
  <div class="row">
    <div id="services-section">
      <h1>Servicios y Beneficios</h1>
    </div>
  </div>
  <div class="row" id="services">
    <div class="col-md-4">
      <img src="../../../content/images/alimentacion.png" alt="alimentacion" height=100px>
      <h1>Alimentación</h1>
      <h2>Diversos tipos de alimentación</h2>
      <p>Encuentra tu tipo de alimentación preferido y mantente informado sobre comercios, ferias y eventos relacionados</p>
    </div>
    <div class="col-md-4">
      a
    </div>
    <div class="col-md-4">
      a
    </div>
  </div>
</div>

