<jhi-navbar-greenlife></jhi-navbar-greenlife>

<mat-grid-list cols="1" rowHeight="400px" class="title-section">
  <div class="title-container">
    <h1 class="title">Green Life</h1>
    <hr class="divider">
    <h2 class="sub-title">Tu espacio alimenticio adaptado a tu estilo de vida</h2>
  </div>
</mat-grid-list>
<mat-grid-list cols="3" rowHeight="500px" class="services-section">
  <div class="services-container">
    <h1 class="title">Servicios y Beneficios</h1>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="service">
        <img src="../../../content/images/alimentacion.png" alt="alimentacion" height="100px">
        <h1 class="service-name">Alimentación</h1>
        <h2 class="service-title">Diversos tipos de alimentación</h2>
        <p class="service-desc">Encuentra tu tipo de alimentación preferido y mantente informado sobre comercios, ferias y eventos relacionados</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="service">
          <img src="../../../content/images/entregas.png" alt="entregas" height="100px">
          <h1 class="service-name">Suscripciones</h1>
          <h2 class="service-title">Suscribete a tus comercios favoritos</h2>
          <p class="service-desc">¡Suscribete a tiendas, restaurantes, y mucho más!</p>
          <p class="service-desc">Solicita, recibe y retira entregas de productos, comestibles, comidas...</p>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="service">
        <img src="../../../content/images/reciclaje.png" alt="reciclaje" height="100px">
        <h1 class="service-name">Alimentación</h1>
        <h2 class="service-title">Solicita la recolección de material reciclable</h2>
        <p class="service-desc">Encuentra tu tipo de alimentación preferido y mantente informado sobre comercios, ferias y eventos relacionados.</p>
      </div>
    </mat-grid-tile>
  </div>
</mat-grid-list>
<mat-grid-list cols="7" rowHeight="300px" class="section alimentation-section">
    <mat-grid-tile [colspan]="5" [rowspan]="1">
      <div class="content">
        <h1 class="title">ALIMENTACIÓN</h1>
        <hr class="divider">
        <p class="desc">Suscribete de manera gratuita a los diferentes comercios afiliados, personaliza tu entrega y crea ordenes a tu gusto.</p>
        <a class="link" href="#">Tipos de Alimentación</a>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1" class="picture"></mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="7" rowHeight="300px" class="section suscription-section">
    <mat-grid-tile [colspan]="2" [rowspan]="1" class="picture"></mat-grid-tile>
    <mat-grid-tile [colspan]="5" [rowspan]="1">
      <div class="content">
        <h1 class="title">SUSCRIPCIONES</h1>
        <hr class="divider">
        <p class="desc">Mantente informado de los últimos acontecimientos de tus comercios favoritos.</p>
        <p class="desc">¡Recibe tus productos favoritos a la puerta de tu casa! </p>
        <a class="link" href="#">Comienza ahora</a>
      </div>
    </mat-grid-tile>
</mat-grid-list>

<jhi-footer-greenlife></jhi-footer-greenlife>
