<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCadenaEntregaLabel">Crear o editar una Cadena de Entrega</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!cadenaEntrega.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="cadenaEntrega.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_info">Info</label>
            <input type="text" class="form-control" name="info" id="field_info"
                [(ngModel)]="cadenaEntrega.info" required maxlength="200"/>
            <div [hidden]="!(editForm.controls.info?.dirty && editForm.controls.info?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.info?.errors?.required">
                   Campo requerido.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.info?.errors?.maxlength">
                   Este campo no puede tener mas de 200 caracteres.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_fecha">Fecha</label>
            <div class="input-group">
                <input id="field_fecha" type="text" class="form-control" name="fecha" ngbDatepicker  #fechaDp="ngbDatepicker" [(ngModel)]="cadenaEntrega.fecha"
                required/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="fechaDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.fecha?.dirty && editForm.controls.fecha?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.fecha?.errors?.required">
                   Campo requerido.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_estado">Estado</label>
            <select class="form-control" name="estado" [(ngModel)]="cadenaEntrega.estado" id="field_estado" >
                <option value="PREPARACION">PREPARACION</option>
                <option value="EN_CAMINO">EN_CAMINO</option>
                <option value="ENTREGADO">ENTREGADO</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_previo">Previo</label>
            <select class="form-control" id="field_previo" name="previo" [(ngModel)]="cadenaEntrega.previoId">
                <option [ngValue]="null"></option>
                <option [ngValue]="cadenaEntregaOption.id" *ngFor="let cadenaEntregaOption of previos; trackBy: trackCadenaEntregaById">{{cadenaEntregaOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancelar</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Guardar</span>
        </button>
    </div>
</form>
