<div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h1>Restablecer contraseña</h1>

            <div class="alert alert-danger" *ngIf="keyMissing">
                <strong>Falta la clave de restablecimiento de la contraseña.</strong>
            </div>

            <div class="alert alert-warning" *ngIf="!success && !keyMissing">
                <p>Ingrese una nueva contraseña</p>
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <p>No se pudo restablecer la contraseña. Recuerde que la solicitud de contraseña solo es válida por 24 horas.</p>
            </div>

            <p class="alert alert-success" *ngIf="success">
                <span><strong>Tu contraseña ha sido restablecida.</strong> Please </span>
                <a class="alert-link" (click)="login()">sign in</a>.
            </p>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                La contraseña y su confirmación no coinciden!
            </div>

            <div *ngIf="!keyMissing">
                <form *ngIf="!success" name="form" role="form" (ngSubmit)="finishReset()" #passwordForm="ngForm">
                    <div class="form-group">
                        <label class="form-control-label" for="password">New password</label>
                        <input type="password" class="form-control" id="password" name="password" #passwordInput="ngModel"
                               placeholder="New password"
                               [(ngModel)]="resetAccount.password" minlength=4 maxlength=50 required>
                        <div *ngIf="passwordInput.dirty && passwordInput.invalid">
                            <small class="form-text text-danger"
                               *ngIf="passwordInput.errors.required">
                                La contraseña es requerida.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="passwordInput.errors.minlength">
                                La contraseña debe de tener al menos 4 caracteres.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="passwordInput.errors.maxlength">
                                La contraseña no puede tener mas de 50 caracteres.
                            </small>
                        </div>
                        <jhi-password-strength-bar [passwordToCheck]="resetAccount.password"></jhi-password-strength-bar>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="confirmPassword">Confirmación de la nueva contraseña</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel"
                               placeholder="Confirm the new password"
                               [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                        <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                            <small class="form-text text-danger"
                               *ngIf="confirmPasswordInput.errors.required">
                                Se requiere su confirmación de contraseña.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="confirmPasswordInput.errors.minlength">
                                La contraseña debe de tener al menos 4 caracteres.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="confirmPasswordInput.errors.maxlength">
                                La contraseña no puede tener mas de 50 caracteres.
                            </small>
                        </div>
                    </div>
                    <button type="submit" [disabled]="passwordForm.form.invalid" class="btn btn-primary">Restablecer contraseña</button>
                </form>
            </div>

        </div>
    </div>
</div>
