<div class="row title-bar-config">
  <div class="col-md-8">
      <h1>
          <span class="title-bar-config-icon icon"><span class="iconImg"></span></span>
          Productos del Comercio
      </h1>
  </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="example-container mat-elevation-z8">
                <mat-table #table [dataSource]="dataSource">

                    <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="nombre">
                        <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="precio">
                        <mat-header-cell *matHeaderCellDef> Precio </mat-header-cell>
                        <mat-cell *matCellDef="let element"> ₡ {{element.precio}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="delete">
                        <mat-header-cell *matHeaderCellDef><i class="material-icons">delete_outline</i></mat-header-cell>
                        <mat-cell *matCellDef="let element"><i class="material-icons delete" (click)="delete(element)">delete_outline</i></mat-cell>
                    </ng-container>

                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)" [ngClass]="{'highlight': selectedRowIndex == row.id}"></mat-row>
                </mat-table>

                <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true"></mat-paginator>
            </div>
        </div>
        <div class="col-md-6">
            <h1 class="sub-title">Producto</h1>
            <form [formGroup]="formulario">
                <mat-form-field>
                    <input matInput placeholder="Nombre" formControlName="nombre">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Descripción" formControlName="descripcion">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Precio" formControlName="precio">
                </mat-form-field>
                <button type="button" class="btn btn-secondary" id="btnCancelar" (click)="cancelar()">Cancelar</button>
                <button type="submit" class="btn btn-success" [disabled]="!formulario.valid">Guardar</button>
            </form>
        </div>
    </div>
</div>