.iconImg {
    background: url("../../../../content/images/productosLocales.png") no-repeat center center;
}
.delete {
    cursor: pointer;
}
.highlight{
    background-color: #e6e9ea;
    font-weight: bold;
}
mat-form-field {
    width: 100%;
}
.ng-invalid:not(form) {
    border-left: 0px solid red;
}
form {
    padding-bottom: 30px;
}