<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myFotografiaLabel">Crear o editar Fotografia</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!fotografia.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="fotografia.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_urlImage">Url Image</label>
            <input type="text" class="form-control" name="urlImage" id="field_urlImage"
                [(ngModel)]="fotografia.urlImage" required/>
            <div [hidden]="!(editForm.controls.urlImage?.dirty && editForm.controls.urlImage?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.urlImage?.errors?.required">
                   Campo requerido.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_centroAcopio">Centro Acopio</label>
            <select class="form-control" id="field_centroAcopio" name="centroAcopio" [(ngModel)]="fotografia.centroAcopioId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="centroAcopioOption.id" *ngFor="let centroAcopioOption of centroacopios; trackBy: trackCentroAcopioById">{{centroAcopioOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_comercio">Comercio</label>
            <select class="form-control" id="field_comercio" name="comercio" [(ngModel)]="fotografia.comercioId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="comercioOption.id" *ngFor="let comercioOption of comercios; trackBy: trackComercioById">{{comercioOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_producto">Producto</label>
            <select class="form-control" id="field_producto" name="producto" [(ngModel)]="fotografia.productoId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="productoOption.id" *ngFor="let productoOption of productos; trackBy: trackProductoById">{{productoOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_publicacion">Publicacion</label>
            <select class="form-control" id="field_publicacion" name="publicacion" [(ngModel)]="fotografia.publicacionId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="publicacionOption.id" *ngFor="let publicacionOption of publicacions; trackBy: trackPublicacionById">{{publicacionOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_evento">Evento</label>
            <select class="form-control" id="field_evento" name="evento" [(ngModel)]="fotografia.eventoId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="eventoOption.id" *ngFor="let eventoOption of eventos; trackBy: trackEventoById">{{eventoOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_patrocinador">Patrocinador</label>
            <select class="form-control" id="field_patrocinador" name="patrocinador" [(ngModel)]="fotografia.patrocinadorId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="patrocinadorOption.id" *ngFor="let patrocinadorOption of patrocinadors; trackBy: trackPatrocinadorById">{{patrocinadorOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancelar</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Guardar</span>
        </button>
    </div>
</form>
