<div class="title-bar-config">
    <h1>Modificación de comercio</h1>
</div>
<div class="container">
    <!-- <div class="row"> -->
    <!-- <div class="row"> -->
    <h2>Datos generales</h2>
    <!-- </div> -->
    <!-- <div class="row"> -->
    <form [formGroup]="comercioForm" class="green-life-form">
        <mat-form-field>
            <input matInput placeholder="Razón social" formControlName="razonSocial">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Nombre comercial" formControlName="nombreComercial">
        </mat-form-field>
        <mat-form-field>
            <input matInput jhiValidadorNumero placeholder="Cédula juridica" formControlName="cedJuridica">
            <mat-error *ngIf="comercioForm.get('cedJuridica').invalid">
                Debe de contener 10 números
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Tipo de comercio" formControlName="tipo">
                <mat-option value="RESTAURANTE">Restaurante</mat-option>
                <mat-option value="TIENDA">Tienda</mat-option>
            </mat-select>
        </mat-form-field>
        <jhi-selector-etiquetas *ngIf="comercio" [model]="comercio.etiquetas"></jhi-selector-etiquetas>
        <div style="display:flex">
            <div class="spacer"></div>
            <button class="btn btn-success" (click)="guardar()">Guardar</button>
        </div>
    </form>
    <!-- </div> -->
    <div class="row">
    <h2>Logo</h2>
    <button mat-icon-button (click)="abrirDialogoImagen()">
        <mat-icon>edit</mat-icon>
    </button>
    </div>
    <div class="logo-container">
        <img *ngIf="comercio && comercio.logoUrl" [src]="hostPath + comercio.logoUrl" alt="">
        <img *ngIf="!(comercio && comercio.logoUrl)" src="https://s3.amazonaws.com/lhp-public-images/lhp/202418_Rosa_Rodriguez/uploads/No%252BImage%252BAvailable.jpg"
            alt="">

        <!-- </div> -->
    </div>
</div>