<!--Navbar por defecto de Green Life-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <!--Logo del navbar-->
    <a class="navbarLogo logo" routerLink="/"><span class="logoImg"></span></a>
    <!--Categorias del menu-->
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse justify-content-md-center" id="navbarMenu ">
        <ul class="navbar-nav">
            <!--Opcion Alimentacion -->
            <li class="nav-item dropdown" ngbDropdown>
                <a class="nav-link dropdown-toggle" ngbDropdownToggle>Alimentación</a>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <a class="dropdown-item">Vegetarianismo</a>
                    <a class="dropdown-item">Veganismo</a>
                    <a class="dropdown-item">Frugivorismo</a>
                    <a class="dropdown-item">Intolerancia a la lactosa</a>
                    <a class="dropdown-item">Diabetes</a>
                    <a class="dropdown-item">Celiaquía</a>
                </div>
            </li>
            <!--Opcion Suscripciones-->
            <li class="nav-item dropdown" ngbDropdown>
                <a class="nav-link dropdown-toggle" ngbDropdownToggle>Suscripciones</a>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <a class="dropdown-item">Comercios</a>
                    <a class="dropdown-item">Pedidos</a>
                </div>
            </li>
            <!--Opcion Social-->
            <li class="nav-item dropdown" ngbDropdown>
                <a class="nav-link dropdown-toggle" ngbDropdownToggle>Social</a>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <a class="dropdown-item">Eventos</a>
                    <a class="dropdown-item">Blog</a>
                </div>
            </li>
            <!--Opcion Reciclaje-->
            <li class="nav-item dropdown" ngbDropdown>
                <a class="nav-link dropdown-toggle" ngbDropdownToggle>Reciclaje</a>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <a class="dropdown-item">Acerca del reciclaje</a>
                    <a class="dropdown-item">Servicio de Recolección</a>
                </div>
            </li>
        </ul>
    </div>
    <!--Botones del menu-->
    <div class="d-inline-flex justify-content-end">
        <button type="button" class="btn btn-link btnRegistrarse">Registrarse</button>
        <button type="button" class="btn btn-link btnIniciarSesion">Iniciar Sesión</button>
    </div>
    <!--Boton collapse del menu-->
    <button class="navbar-toggler hidden-lg-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
