<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="green-life-navbar">
    <a class="navbarLogo logo" routerLink="/"><span class="logoImg"></span></a>
    <button class="navbar-toggler" type="button" (click)="toggleCollapse()" data-target=".dual-collapse2">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="w-100 order-1 order-md-0"></div>
    <div class="navbar-collapse collapse mx-auto order-0 dual-collapse2" id="main-link" [class.show]="collapse" [class.inicio]="inicio">
        <ul class="navbar-nav ml-auto" [class.hidden]="inicio">
            <!--Opcion Alimentacion -->
            <li class="nav-item dropdown" ngbDropdown>
                <a class="nav-link dropdown-toggle" ngbDropdownToggle>Alimentación</a>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <a class="dropdown-item">Vegetarianismo</a>
                    <a class="dropdown-item">Veganismo</a>
                    <a class="dropdown-item">Frugivorismo</a>
                    <a class="dropdown-item">Intolerancia a la lactosa</a>
                    <a class="dropdown-item">Diabetes</a>
                    <a class="dropdown-item">Celiaquía</a>
                </div>
            </li>
            <!--Opcion Suscripciones-->
            <li class="nav-item dropdown" ngbDropdown>
                <a class="nav-link dropdown-toggle" ngbDropdownToggle>Suscripciones</a>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <a class="dropdown-item">Comercios</a>
                    <a class="dropdown-item">Pedidos</a>
                </div>
            </li>
            <!--Opcion Social-->
            <li class="nav-item dropdown" ngbDropdown>
                <a class="nav-link dropdown-toggle" ngbDropdownToggle>Social</a>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <a class="dropdown-item">Eventos</a>
                    <a class="dropdown-item">Blog</a>
                </div>
            </li>
            <!--Opcion Reciclaje-->
            <li class="nav-item dropdown" ngbDropdown>
                <a class="nav-link dropdown-toggle" ngbDropdownToggle>Reciclaje</a>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <a class="dropdown-item">Acerca del reciclaje</a>
                    <a class="dropdown-item">Servicio de Recolección</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" [class.show]="collapse">
        <ul class="navbar-nav ml-auto" [class.hidden]="!inicio" id="button-area">
            <li class="nav-item">
                <a routerLink="/app/registrarse" class="btn btn-link btnRegistrarse">Registrarse</a>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-link btnIniciarSesion" (click)="openDialog()">Iniciar Sesión</button>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto" [class.hidden]="inicio" id="user-config">
            <li class="nav-item dropdown" ngbDropdown >
                <a class="nav-link dropdown-toggle" ngbDropdownToggle><span class="user-img"></span> <span class="text">Usuario</span></a>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <a class="dropdown-item" [routerLink]="'usuario/' + usuarioId">Mi perfil</a>
                    <a class="dropdown-item" (click)="cerrarSesion()">Cerrar sesión</a>
                </div>
            </li>
        </ul>
    </div>
</nav>