<div class="container-fluid">
  <div class="row">
    <div id="main-section">
      <h1>Green Life</h1>
      <hr class="divider">
      <h2>Tu espacio alimenticio adaptado a tu estilo de vida</h2>
    </div>
  </div>
  <div class="row">
    <div id="services-section">
      <h1>Servicios y Beneficios</h1>
    </div>
  </div>
  <div class="row" id="services">
    <div class="col-md-4">
      <img src="../../../../content/images/alimentacion.png" alt="alimentacion" height=100px>
      <h1>Alimentación</h1>
      <h2>Diversos tipos de alimentación</h2>
      <p>Encuentra tu tipo de alimentación preferido y mantente informado sobre comercios, ferias y eventos relacionados</p>
    </div>
    <div class="col-md-4">
      <img src="../../../../content/images/entregas.png" alt="alimentacion" height=100px>
      <h1>Suscripciones</h1>
      <h2>Suscribete a tus comercios favoritos</h2>
      <p>¡Suscribete a tiendas, restaurantes, y mucho más!</p>
      <p>Solicita, recibe y retira entregas de productos, comestibles, comidas...</p>
    </div>
    <div class="col-md-4">
      <img src="../../../../content/images/reciclaje.png" alt="alimentacion" height=100px>
      <h1>Reciclaje</h1>
      <h2>Solicita la recolección de material reciclable</h2>
      <p>Encuentra tu tipo de alimentación preferido y mantente informado sobre comercios, ferias y eventos relacionados.</p>
    </div>
  </div>
  <div class="row service-info" id="alimentacion">
    <div class="col-md-8">
      <h1>ALIMENTACIÓN</h1>
      <hr class="divider">
      <p>Suscribete de manera <b>gratuita</b> a los diferentes comercios afiliados, personaliza tu entrega y crea ordenes a tu gusto.</p>
      <a href="#">Tipos de Alimentación</a>
    </div>
    <div class="col-md-4">
      <div class="picture"></div>
    </div>
  </div>
  <div class="row service-info" id="suscripciones">
    <div class="col-md-4">
      <div class="picture"></div>
    </div>
    <div class="col-md-8">
      <h1>SUSCRIPCIONES</h1>
      <hr class="divider">
      <p>Mantente informado de los últimos acontecimientos de tus comercios favoritos.</p>
      <p>¡Recibe tus productos favoritos a la puerta de tu casa!</p>
      <p>Crea pedidos personalizados con cada comercio, para que puedan ser entregados en tu domicilio o retirados en el comercio</p>
      <a href="#">Comienza ahora</a>
    </div>
  </div>
  <div class="row">
    <div id="comercios-section">
      <h1>Comercios Afiliados</h1>
    </div>
  </div>
  <div class="row" id="comercios">
    <div class="col-md-4">
      <img src="../../../../content/images/alimentacion.png" alt="alimentacion" height=100px>
    </div>
    <div class="col-md-4">
      <img src="../../../../content/images/entregas.png" alt="alimentacion" height=100px>
    </div>
    <div class="col-md-4">
      <img src="../../../../content/images/alimentacion.png" alt="alimentacion" height=100px>
    </div>
  </div>
</div>