@import '../../../../content/scss/green-life-variables';
.card.pedidos a {
    position: absolute;
    right: 0
}

.card-container {
    margin: 10px 0;
}

.title-bar {
    text-align: center;
}

.divider {
    background: #FFFFFF;
    max-width: 200px;
    -webkit-box-shadow: 0 1px 3px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    -moz-box-shadow: 0 1px 3px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    box-shadow: 0 1px 3px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}

#subtitle {
    margin: 10px 0 0 0;
    text-align: center;
    color: $config-dark-gray-color;
    font-weight: 300;
}

.card-header-subtitle {
    margin-top: 2px;
    font-size: 17px;
}

.badge-secondary {
    margin: 0 0 0 12px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 3px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    -moz-box-shadow: 0 1px 3px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    box-shadow: 0 1px 3px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    color: $green-color;
    background: #FFFFFF;
}

.card-title {
    color: $green-color;
    font-size: 18px;
    font-weight: 700;
}

.card {
    color: $config-dark-gray-color;
    border: none;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 3px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    -moz-box-shadow: 0 1px 3px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    box-shadow: 0 1px 3px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}

.card.pedidos {
    padding: 10px;
}