// mat-table input {
//     width: 50px;
//     border: 1px solid #e0e0e0;
// }
.green-life-form mat-form-field {
    width: unset;
}

mat-table mat-form-field {
    width: 60px;
}

h4.total {
    text-align: right;
    margin: 10px;
}