<div class="title">
    <h1>Editar datos</h1>
</div>
<div class="form-container">
    <div *ngIf="usuario && user">
        <form [formGroup]="formulario">
            <label>Nombre</label>
            <mat-form-field>
                <input matInput formControlName="nombre">
            </mat-form-field>
            <label>Apellidos</label>
            <mat-form-field>
                <input matInput formControlName="apellido">
            </mat-form-field>
            <label>Fecha de nacimiento</label>
            <mat-form-field>
                <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <label>Número de cedula</label>
            <mat-form-field>
                <input matInput jhiValidadorNumero formControlName="cedula">
                <mat-error *ngIf="formulario.get('cedula').invalid">
                    El número de cédula debe de contener 9 números (No digite Guiones ni espacios en blanso)
                </mat-error>
            </mat-form-field>
            <label>Número de telefono</label>
            <mat-form-field>
                <input matInput jhiValidadorNumero formControlName="telefono">
                <mat-error *ngIf="formulario.get('telefono').invalid">
                    El número de teléfono debe de contener 8 números
                </mat-error>
            </mat-form-field>
            <label>Dirección</label>
            <mat-form-field>
                <input matInput formControlName="direccion">
            </mat-form-field>
            <div class="col pr-md-5">
                <mat-tab-group class="tab-container">
                    <mat-tab label="Ubicación en el mapa">
                        <div class="map-container">
                            <agm-map
                                [latitude]="usuario.latitud"
                                [longitude]="usuario.longitud"
                                [zoom]="zoom">
                                <agm-marker
                                    [latitude]="usuario.latitud"
                                    [longitude]="usuario.longitud"
                                    [markerDraggable]="true"
                                    (dragEnd)="markerDragEnd($event)">
                                </agm-marker>
                            </agm-map>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
            <mat-form-field>
                <input matInput [value]="marker.lat" [readonly]="true" placeholder="Latitud" formControlName="latitud">
            </mat-form-field>
            <mat-form-field>
                <input matInput [value]="marker.long" [readonly]="true" placeholder="Longitud" formControlName="longitud">
            </mat-form-field>
            <label>Correo eletrónico</label>
            <mat-form-field>
                <input matInput formControlName="correo">
                <mat-error *ngIf="formulario.get('correo').invalid">
                    El formato de correo es invalido
                </mat-error>
            </mat-form-field>
            <label>Nombre de usuario</label>
            <mat-form-field>
                <input matInput formControlName="usuario">
            </mat-form-field>
            <div style="display:flex">
                <div style="flex:1 1"></div>
                <button class="btn btnPrimary" (click)="eliminarUsuario()">Desactivar cuenta</button>
                <button class="btn btnSecondary" (click)="modificarUsuario()">Editar</button>
            </div>
        </form>
    </div>
</div>
