
<div *ngIf="categoriaAlimentacion">
    <h2><span>Categoria Alimentación</span> {{categoriaAlimentacion.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Nombre</span></dt>
        <dd>
            <span>{{categoriaAlimentacion.nombre}}</span>
        </dd>
        <dt><span>Descripción</span></dt>
        <dd>
            <span>{{categoriaAlimentacion.descripcion}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Regresar</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'categoria-alimentacion/'+ categoriaAlimentacion.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Editar</span>
    </button>
</div>
