<div>
    <h2>
        <span>Comercios</span>
        <button class="btn btn-primary float-right jh-create-entity create-comercio" [routerLink]="['/', { outlets: { popup: ['comercio-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down" >
                Crear nuevo Comercio
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="comercios">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Fecha Creacion</span></th>
            <th><span>Ced Juridica</span></th>
            <th><span>Razon Social</span></th>
            <th><span>Nombre Comercial</span></th>
            <th><span>Tipo</span></th>
            <th><span>Logo Url</span></th>
            <th><span>Etiquetas</span></th>
            <th><span>Categorias</span></th>
            <th><span>Dueno</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let comercio of comercios ;trackBy: trackId">
                <td><a [routerLink]="['../comercio', comercio.id ]">{{comercio.id}}</a></td>
                <td>{{comercio.fechaCreacion | date:'mediumDate'}}</td>
                <td>{{comercio.cedJuridica}}</td>
                <td>{{comercio.razonSocial}}</td>
                <td>{{comercio.nombreComercial}}</td>
                <td>{{comercio.tipo}}</td>
                <td>{{comercio.logoUrl}}</td>
                <td>
                    <span *ngFor="let etiquetas of comercio.etiquetas; let last = last">
                            <a class="form-control-static" [routerLink]="['../etiqueta', etiquetas?.id ]">{{etiquetas.nombre}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <span *ngFor="let categorias of comercio.categorias; let last = last">
                            <a class="form-control-static" [routerLink]="['../categoria-alimentacion', categorias?.id ]">{{categorias.nombre}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <div *ngIf="comercio.duenoId">
                        <a [routerLink]="['../usuario', comercio.duenoId  ]" >{{comercio.duenoId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../comercio', comercio.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">Ver</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'comercio/'+ comercio.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Editar</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'comercio/'+ comercio.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Eliminar</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
