<div>
    <h2>
        <span>Pedidos</span>
        <button class="btn btn-primary float-right jh-create-entity create-pedido" [routerLink]="['/', { outlets: { popup: ['pedido-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down">
            Crear nuevo Pedido
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="pedidos">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        <span>ID</span>
                    </th>
                    <th>
                        <span>Hora</span>
                    </th>
                    <th>
                        <span>Suscripcion</span>
                    </th>
                    <th>
                        <span>Dias Entrega</span>
                    </th>
                    <th>
                        <span>Local</span>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pedido of pedidos ;trackBy: trackId">
                    <td>
                        <a [routerLink]="['../pedido', pedido.id ]">{{pedido.id}}</a>
                    </td>
                    <td>{{pedido.hora}}</td>
                    <td>
                        <div *ngIf="pedido.suscripcionId">
                            <a [routerLink]="['../suscripcion', pedido.suscripcionId  ]">{{pedido.suscripcionId}}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="pedido.diasEntregaId">
                            <a [routerLink]="['../dia-entrega', pedido.diasEntregaId  ]">{{pedido.diasEntregaNombre}}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="pedido.localId">
                            <a [routerLink]="['../local', pedido.localId  ]">{{pedido.localNombre}}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" [routerLink]="['../pedido', pedido.id ]" class="btn btn-info btn-sm">
                                <span class="fa fa-eye"></span>
                                <span class="d-none d-md-inline">View</span>
                            </button>
                            <button type="submit" [routerLink]="['/', { outlets: { popup: 'pedido/'+ pedido.id + '/edit'} }]" replaceUrl="true" queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                                <span class="fa fa-pencil"></span>
                                <span class="d-none d-md-inline">Editar</span>
                            </button>
                            <button type="submit" [routerLink]="['/', { outlets: { popup: 'pedido/'+ pedido.id + '/delete'} }]" replaceUrl="true" queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                                <span class="fa fa-remove"></span>
                                <span class="d-none d-md-inline">Eliminar</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>