<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 *ngIf="success">Registrarse con</h1>
            <h1 *ngIf="error">Registro</h1>

            <div class="alert alert-success" *ngIf="success">
                <strong>Registro guardado!</strong> Por favor revisa tu correo electrónico para confirmar.
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <strong>Registro fallido!</strong> Por favor, vuelve a intentarlo más tarde.
            </div>

            <jhi-social *ngIf="success" provider="{{ provider }}"></jhi-social>
            <br/>
            <div class="alert alert-warning">
                <span>Si desea </span>
                <a class="alert-link" (click)="login()">iniciar sesión</a><span>, puede usar las cuentas por defecto:<br/>- Administrador (login="admin" and password="admin") <br/>- Usuario (login="user" and password="user").</span>
            </div>
        </div>
    </div>
</div>
