<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myUsuarioLabel">Crear o editar Usuario</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!usuario.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="usuario.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_fechaCreacion">Fecha Creacion</label>
            <div class="input-group">
                <input id="field_fechaCreacion" type="text" class="form-control" name="fechaCreacion" ngbDatepicker  #fechaCreacionDp="ngbDatepicker" [(ngModel)]="usuario.fechaCreacion"
                required/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="fechaCreacionDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.fechaCreacion?.dirty && editForm.controls.fechaCreacion?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.fechaCreacion?.errors?.required">
                   Campo requerido.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_fechaNacimiento">Fecha Nacimiento</label>
            <div class="input-group">
                <input id="field_fechaNacimiento" type="text" class="form-control" name="fechaNacimiento" ngbDatepicker  #fechaNacimientoDp="ngbDatepicker" [(ngModel)]="usuario.fechaNacimiento"
                required/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="fechaNacimientoDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.fechaNacimiento?.dirty && editForm.controls.fechaNacimiento?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.fechaNacimiento?.errors?.required">
                   Campo requerido.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_cedula">Cedula</label>
            <input type="text" class="form-control" name="cedula" id="field_cedula"
                [(ngModel)]="usuario.cedula" required minlength="8" maxlength="15"/>
            <div [hidden]="!(editForm.controls.cedula?.dirty && editForm.controls.cedula?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.cedula?.errors?.required">
                   Campo requerido.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.cedula?.errors?.minlength">
                    Este campo no puede contener menos de 8 caracteres.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.cedula?.errors?.maxlength">
                    Este campo no puede contener mas de 15 caracteres.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_direccion">Direccion</label>
            <input type="text" class="form-control" name="direccion" id="field_direccion"
                [(ngModel)]="usuario.direccion" maxlength="200"/>
            <div [hidden]="!(editForm.controls.direccion?.dirty && editForm.controls.direccion?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.direccion?.errors?.maxlength">
                    Este campo no puede contener mas de 200 caracteres.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_telefono">Telefono</label>
            <input type="text" class="form-control" name="telefono" id="field_telefono"
                [(ngModel)]="usuario.telefono" required minlength="8" maxlength="8"/>
            <div [hidden]="!(editForm.controls.telefono?.dirty && editForm.controls.telefono?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.telefono?.errors?.required">
                   Campo requerido.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.telefono?.errors?.minlength">
                    Este campo no puede contener menos de 8 caracteres.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.telefono?.errors?.maxlength">
                    Este campo no puede contener mas de 8 caracteres.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_fotoUrl">Foto Url</label>
            <input type="text" class="form-control" name="fotoUrl" id="field_fotoUrl"
                [(ngModel)]="usuario.fotoUrl" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_latitud">Latitud</label>
            <input type="number" class="form-control" name="latitud" id="field_latitud"
                [(ngModel)]="usuario.latitud" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_longitud">Longitud</label>
            <input type="number" class="form-control" name="longitud" id="field_longitud"
                [(ngModel)]="usuario.longitud" />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_userDetail">User Detail</label>
            <select class="form-control" id="field_userDetail" name="userDetail" [(ngModel)]="usuario.userDetailId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancelar</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Guardar</span>
        </button>
    </div>
</form>
