
<div *ngIf="usuario">
    <h2><span>Usuario</span> {{usuario.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Fecha Creación</span></dt>
        <dd>
            <span>{{usuario.fechaCreacion | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Fecha Nacimiento</span></dt>
        <dd>
            <span>{{usuario.fechaNacimiento | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Cedula</span></dt>
        <dd>
            <span>{{usuario.cedula}}</span>
        </dd>
        <dt><span>Dirección</span></dt>
        <dd>
            <span>{{usuario.direccion}}</span>
        </dd>
        <dt><span>Telefono</span></dt>
        <dd>
            <span>{{usuario.telefono}}</span>
        </dd>
        <dt><span>Foto Url</span></dt>
        <dd>
            <span>{{usuario.fotoUrl}}</span>
        </dd>
        <dt><span>Latitud</span></dt>
        <dd>
            <span>{{usuario.latitud}}</span>
        </dd>
        <dt><span>Longitud</span></dt>
        <dd>
            <span>{{usuario.longitud}}</span>
        </dd>
        <dt><span>User Detail</span></dt>
        <dd>
            {{usuario.userDetailId}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Regresar</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'usuario/'+ usuario.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Editar</span>
    </button>
</div>
