<div>
    <h2>
        <span>Cadena Orden Recoleccions</span>
        <button class="btn btn-primary float-right jh-create-entity create-cadena-orden-recoleccion" [routerLink]="['/', { outlets: { popup: ['cadena-orden-recoleccion-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down" >
            Crear nueva Cadena Orden Recolección
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="cadenaOrdenRecoleccions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Estado</span></th>
            <th><span>Descripción</span></th>
            <th><span>Orden Recolección</span></th>
            <th><span>Previo</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cadenaOrdenRecoleccion of cadenaOrdenRecoleccions ;trackBy: trackId">
                <td><a [routerLink]="['../cadena-orden-recoleccion', cadenaOrdenRecoleccion.id ]">{{cadenaOrdenRecoleccion.id}}</a></td>
                <td>{{cadenaOrdenRecoleccion.estado}}</td>
                <td>{{cadenaOrdenRecoleccion.descripcion}}</td>
                <td>
                    <div *ngIf="cadenaOrdenRecoleccion.ordenRecoleccionId">
                        <a [routerLink]="['../orden-recoleccion', cadenaOrdenRecoleccion.ordenRecoleccionId  ]" >{{cadenaOrdenRecoleccion.ordenRecoleccionId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="cadenaOrdenRecoleccion.previoId">
                        <a [routerLink]="['../cadena-orden-recoleccion', cadenaOrdenRecoleccion.previoId  ]" >{{cadenaOrdenRecoleccion.previoId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../cadena-orden-recoleccion', cadenaOrdenRecoleccion.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">Ver</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'cadena-orden-recoleccion/'+ cadenaOrdenRecoleccion.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Editar</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'cadena-orden-recoleccion/'+ cadenaOrdenRecoleccion.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Eliminar</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
