<div class="col-md-6 mx-auto text-center">
    <div class="card">
        <div class="card-header">
            Servicio de Suscripciones
        </div>
        <div class="card-body card-body-servicio-suscripcion" *ngIf="isContratoActivo == false">
            <h5 class="card-title card-title-servicio-activo">¡Activá el servicio de suscripciones!</h5>
            <p class="card-text card-text-servicio-activo">Dale a tus clientes la posibilidad de suscribirse a tus comercios, para que puedan realizar pedidos de los diferentes productos que ofrecen.</p>
            <button class="btn btn-servicio-suscripcion" (click)="solicitarContratoServicioSuscripcion()">Activar servicio</button>
        </div>
        <div class="card-body text-center mt-2 mb-3" *ngIf="isContratoActivo == true">
            <h5 class="card-title card-title-servicio-inactivo"><span><i class="fa fa-check-circle"></i></span>El servicio de suscripción se encuentra activo.</h5>
            <p class="card-text card-text-servicio-inactivo">Si cancelas la suscripción no recibirás los pagos pendientes del mes actual.</p>
            <button class="btn btn-cancel-servicio-suscripcion" (click)="cancelarContratoServicioSuscripcion()">Cancelar servicio</button>
        </div>
    </div>
</div>
