@import '../../../../content/scss/green-life-variables';

.iconImg {
    background: url("../../../../content/images/localSymbolic.png") no-repeat center center;
}

.main-container {
    margin: 0;
}

.title-bar-config {
    margin-bottom: 0;
}

.info-section {
    min-width: 347px;
    max-height: 599px;
    margin: 48px 0 0 0;
    box-shadow:  0 1px 3px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}

// AGM Styles
agm-map {
    height: 600px;
}

agm-info-window {
    border-radius: 6px !important;
    box-shadow:  0 1px 3px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08) !important;
}

.titleMarker {
    font-size: 17px;
    color: $config-green-color;
    margin: 5px 0 15px 0;
}

.textMarker {
    font-size: 15px;
    color: $config-dark-gray-color;
    margin: 10px 0;

    .fa {
        color: $config-green-color;
        padding: 0 7px 0 0;
    }
}

// Info local styles
.info-local-title {
    color: white;
    font-weight: 700;
    margin: 30px 0 35px 0;
    padding: 15px 0;
    background: #6AABAD;
    text-align: center;
    border-radius: 6px;
    box-shadow:  0 1px 3px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}

.info-local-subtitle {
    color: $config-dark-gray-color ;
    padding: 5px 0;
    font-weight: 300;

    .fa {
        padding: 0 10px 0 0;
        color: $config-dark-gray-color;
    }
}

#subtitle {
    margin: 40px 0 10px 0;
    text-align: center;
    color: $config-dark-gray-color;
    font-weight: 300;
}

.btnAdd {
    color: #FFFFFF;
    background: $config-dark-gray-color;
    font-weight: 700;
    font-size: 18px;
    box-shadow:  0 1px 3px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    margin: 10px 0 0 0;
    .fa {
        padding: 0 8px 0 0;
    }
}

.btnModificar {
    color: #FFFFFF;
    background: $config-green-color;
    box-shadow:  0 1px 3px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    float: right;
    margin: 50px 10px 0 0;
}

.btnDelete {
    color: $config-green-color;
    background: #FFFFFF;
    border-color: $config-green-color;
    box-shadow:  0 1px 3px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    float: right;
    margin: 50px 10px 0 0;
}
