<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Registro</h1>

            <div class="alert alert-success" *ngIf="success">
                <strong>Registro guardado!</strong> Por favor, confirma tu correo electrónico.
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <strong>¡Registro fallido!</strong> Por favor vuelve a intentarlo más tarde.
            </div>

            <div class="alert alert-danger" *ngIf="errorUserExists">
                <strong>Nombre de usuario en uso!</strong> Por favor elige otro.
            </div>

            <div class="alert alert-danger" *ngIf="errorEmailExists">
                <strong>Correo electrónico en uso!</strong> Por favor elige otro.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                ¡La contraseña y su confirmación no coinciden!
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form name="form" role="form" (ngSubmit)="register()" #registerForm="ngForm" *ngIf="!success">
                <div class="form-group">
                    <label class="form-control-label" for="login">Username</label>
                    <input type="text" class="form-control" [(ngModel)]="registerAccount.login" id="login" name="login" #login="ngModel" placeholder="Nombre de usuario"
                            required minlength="1" maxlength="50" pattern="^[_'.@A-Za-z0-9-]*$">
                    <div *ngIf="login.dirty && login.invalid">
                        <small class="form-text text-danger" *ngIf="login.errors.required">
                            Nombre de usuario requerido.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.minlength"
                               >
                            El nombre de usuario debe de tener al menos 1 caracteres.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.maxlength"
                               >
                            El nombre de usuario no puede tener mas de 50 caracteres.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.pattern"
                              >
                            Su nombre de usuario solo puede contener letras y dígitos.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="email">Correo electrónico</label>
                    <input type="email" class="form-control" id="email" name="email" #email="ngModel" placeholder="Su correo electrónico"
                            [(ngModel)]="registerAccount.email" minlength=5 maxlength=100 email required>
                    <div *ngIf="email.dirty && email.invalid">
                        <small class="form-text text-danger" *ngIf="email.errors.required"
                               >
                            Correo electrónico requerido.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.invalid"
                              >
                            Dirección de correo electrónico invalido.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.minlength"
                              >
                            El correo electrónico debe de tener al menos 5 caracteres.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.maxlength"
                              >
                            El correo electrónico no puede tener mas de 100 caracteres.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="password">Nueva contraseña</label>
                    <input type="password" class="form-control" id="password" name="password" #password="ngModel" placeholder="Nueva contraseña"
                            [(ngModel)]="registerAccount.password" minlength=4 maxlength=50 required>
                    <div *ngIf="password.dirty && password.invalid">
                        <small class="form-text text-danger" *ngIf="password.errors.required"
                               >
                            La contraseña es requerida.
                        </small>
                        <small class="form-text text-danger" *ngIf="password.errors.minlength"
                               >
                            La contraseña debe de tener al menos 4 caracteres.
                        </small>
                        <small class="form-text text-danger" *ngIf="password.errors.maxlength"
                               >
                            La contraseña no puede tener mas de 50 caracteres.
                        </small>
                    </div>
                    <jhi-password-strength-bar [passwordToCheck]="registerAccount.password"></jhi-password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword">Confirma la nueva contraseña</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel" placeholder="Confirma la nueva contraseña"
                            [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                    <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.required"
                              >
                            La confirmación de la contraseña es requerida.
                        </small>
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.minlength"
                             >
                            La confirmación de la contraseña debe de tener al menos 4 caracteres.
                        </small>
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.maxlength"
                              >
                            La confirmación de la contraseña no puede tener mas de 50 caracteres.
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="registerForm.form.invalid" class="btn btn-primary">Registrar</button>
            </form>
            <p></p>
            <div class="alert alert-warning">
                <span>Si desea </span>
                <a class="alert-link" (click)="openLogin()">iniciar sesión</a><span>, puede usar las cuentas por defecto:<br/>- Administrador (login="admin" and password="admin") <br/>- Usuario (login="user" and password="user").</span>
            </div>
        </div>
        <div class="col-md-4">
            <br/>
            <jhi-social provider="google"></jhi-social>
            <jhi-social provider="facebook"></jhi-social>
            <jhi-social provider="twitter"></jhi-social>
            <!-- jhipster-needle-add-social-button -->
        </div>
    </div>
</div>
