<div class="container-fluid title-bar">
    <div class="row">
        <div class="col">
            <h2>Green Life</h2>
            <hr class="divider">
            <h1>Creación de cuenta</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="subtitle1">¡Crea tu cuenta ahora mismo!</h2>
            <div class="img-container text-center">
                <img src="../../../../content/images/account.png" alt="Comercios suscrito" height="135px">
            </div>
            <h3 class="subtitle2">Comienza a descubrir comercios, suscríbete, realiza pedidos personalizados y mucho más...</h3>
        </div>
    </div>
    <div class="row">
        <div class="col mt-5 mb-5">
            <div class="form-container">
                <form [formGroup]="formulario" class="green-life-form">
                    <mat-form-field>
                        <input matInput placeholder="Nombre" formControlName="nombre">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Apellidos" formControlName="apellidos">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput [max]="maxDate" [matDatepicker]="picker" placeholder="Fecha nacimineto"
                               formControlName="fechaNacimiento">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput jhiValidadorNumero placeholder="Cédula" formControlName="cedula">
                        <mat-error *ngIf="formulario.get('cedula').invalid">
                            La cédula debe de contener 9 números
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput jhiValidadorNumero placeholder="Teléfono" formControlName="telefono">
                        <mat-error *ngIf="formulario.get('telefono').invalid">
                            El número de teléfono debe de contener 8 números
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Correo electronico" formControlName="correo">
                        <mat-error *ngIf="formulario.get('correo').invalid">
                            El formato de correo es invalido
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Nombre de usuario" formControlName="usuario">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Contraseña" formControlName="clave" type="password">
                        <mat-hint>Debe de contener letras, números y no menos de 8 caracteres</mat-hint>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Confirmación contraseña" formControlName="confirmacionClave" type="password">
                        <mat-hint>Ingrese nuevamente la contraseña</mat-hint>
                    </mat-form-field>
                    <div style="display:flex">
                        <div style="flex:1 1"></div>
                        <button class="btn btn-registrarse" (click)="crearUsuario()">Registrarse</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
