<div class="container-fluid footer" [class.changeFooter]="configuracion">
    <div class="row" [class.inicio]="!configuracion">
        <div class="col-md-3" id="sobreNosotros">
            <h3>Green Life</h3>
            <p>
                Ofrecemos una gran variedad de comercios orientados a varios tipos de alimentación, realizamos pedidos personalizados y
                promovemos el cuido del medio ambiente.
            </p>
            <button type="button" class="btn btn-outline-success btn-sm btn-block">Licenciamiento Iconografía</button>
        </div>
        <div class="col-md-auto menuFooter">
            <h5>Suscripciones</h5>
            <ul>
                <li>
                    <a>Comercios</a>
                </li>
                <li>
                    <a>Pedidos</a>
                </li>
            </ul>
        </div>
        <div class="col-md-auto menuFooter">
            <h5>Social</h5>
            <ul>
                <li>
                    <a>Eventos</a>
                </li>
                <li>
                    <a>Blog</a>
                </li>
            </ul>
        </div>
        <div class="col-md-auto menuFooter">
            <h5>Reciclaje</h5>
            <ul>
                <li>
                    <a>Acerca del reciclaje</a>
                </li>
                <li>
                    <a>Servicio de Recolección</a>
                </li>
            </ul>
        </div>
    </div>
    <hr class="divider">
    <div class="row">
        <div class="col" id="derechosReservados">
            <p>© 2018 Green Life. Todos los Derechos Reservados.</p>
        </div>
    </div>
</div>

