// Estilos footer Green Life
.footer {
    background-color: #46B97E;
}
.footerSeccion {
    background-color: transparent;
}
.tituloMenu {
    color: white;
    font-weight: bold;
}
.opcMenu {
    color: white;
}
.btnLicIconografia {
    color: white !important;
    background-color: transparent !important;
    border: white solid 1px !important;
}
.sobreNosotros {
    background-color: white;
    margin-left: 40px;
    margin-bottom: 115px;
    padding: 5px;
}
.eventoTitulo {
    color: #46B97E;
}
.eventoTexto {
    padding-left: 7px;
    color: #38CAE0;
}
.txtDerechosReservados {
    color: white;
    margin-top: 15px;
}
