<!--Contenido fat footer Green Life-->
<mat-grid-list cols="4" rowHeight="310px" class="footer mat-elevation-z1">
    <!--Eventos-->
    <mat-grid-tile>
        <mat-card class="sobreNosotros mat-elevation-z0">
            <mat-card-header>
                <mat-card-title class="eventoTitulo"><span class="mat-h3">Feria Verde</span></mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p class="eventoTexto">
                    Evento gratuito, encuentra todo tipo de verduras, productos y mucho más.
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <!--Menu de servicios-->
    <mat-grid-tile>
        <mat-list role="list">
            <mat-list-item role="listitem">
                <span class="tituloMenu mat-h2">Servicios</span>
            </mat-list-item>
            <mat-list-item role="listitem">
                <span class="opcMenu mat-h3">Alimentación</span>
            </mat-list-item>
            <mat-list-item role="listitem">
                <span class="opcMenu mat-h3">Suscripciones</span>
            </mat-list-item>
            <mat-list-item role="listitem">
                <span class="opcMenu mat-h3">Social</span>
            </mat-list-item>
            <mat-list-item role="listitem">
                <span class="opcMenu mat-h3">Reciclaje</span>
            </mat-list-item>
        </mat-list>
    </mat-grid-tile>
    <!--Menu de Green Life-->
    <mat-grid-tile>
        <mat-list role="list">
            <mat-list-item role="listitem">
                <span class="tituloMenu mat-h2">Green Life</span>
            </mat-list-item>
            <mat-list-item role="listitem">
                <span class="opcMenu mat-h3">Sobre nosotros</span>
            </mat-list-item>
            <mat-list-item role="listitem">
                <span class="opcMenu mat-h3">Contacto</span>
            </mat-list-item>
            <mat-list-item role="listitem">
            </mat-list-item>
            <mat-list-item role="listitem">
                <button mat-flat-button class="btnLicIconografia"><span class="mat-h4">Licenciamiento Iconografía</span></button>
            </mat-list-item>
        </mat-list>
    </mat-grid-tile>
</mat-grid-list>

<!--Derechos reservados-->
<mat-grid-list cols="1" rowHeight="40px" class="footer">
    <mat-grid-tile>
        <span class="mat-h3 txtDerechosReservados">© 2018 Green Life. Todos los Derechos Reservados.</span>
    </mat-grid-tile>
</mat-grid-list>

