<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4">Bienvenido, Java Hipster!</h1>
        <p class="lead">Esta es tu página principal</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account"
                   > Has iniciado sesion como usuario "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>Si deseas </span>
                <a class="alert-link" (click)="login()">Iniciar sesión</a><span>, puede usar las cuentas por defecto<br/>- Administrador (login="admin" and password="admin") <br/>- Usuario (login="user" and password="user").</span>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>¿Aún no tienes cuenta?</span>
                <a class="alert-link" routerLink="register">Regístrate</a>
            </div>
        </div>

        <p>
            Si tienes alguna pregunta acerca de JHipster:
        </p>

        <ul>
            <li><a href="http://www.jhipster.tech/" target="_blank" rel="noopener">JHipster</a></li>
            <li><a href="http://stackoverflow.com/tags/jhipster/info" target="_blank" rel="noopener">JHipster en Stack Overflow</a></li>
            <li><a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank" rel="noopener">JHipster bug tracker</a></li>
            <li><a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener">JHipster chat público</a></li>
            <li><a href="https://twitter.com/java_hipster" target="_blank" rel="noopener">Síguenos @java_hipster en Twitter</a></li>
        </ul>

        <p>
            <span>Si te gusta JHipster, no olvides de darnos una estrella </span> <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener">GitHub</a>!
        </p>
    </div>
</div>
