<div class="row">
    <div class="col-md-2"></div>
    <div class="col">
        <h1 class="display-4 titleCms">
            <i class="fa fa-cogs"></i>
            CMS Green Life
        </h1>
        <p class="lead text-center">Configuración y administración de la aplicación.</p>
        <span class="dividerCms img-fluid"></span>

        <div class="card" [ngSwitch]="isAuthenticated()">
            <div class="card-header">
                Sesión de CMS
            </div>
            <div class="card-body">
                <div *ngSwitchCase="true">
                    <div *ngIf="account">
                        <p class="card-text"> Sesión iniciada con el usuario: <span class="card-text font-weight-bold">"{{account.login}}"</span></p>
                    </div>
                </div>

                <div *ngSwitchCase="false">
                    <p class="card-text">Ingresa con la cuenta de administrador para poder acceder a los servicios de configuración y administración de la aplicación.</p>
                    <a class="alert-link btn-block btnLogin" (click)="login()">Iniciar Sesión</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
