<div>
    <mat-dialog-content>
        <h4>¿Cuéntanos qué te pareció?</h4>
        <a *ngFor="let item of estrellas; let i=index" (click)="setEstrella(i)">
            <i *ngIf="item"><img src="../../../../content/images/empty star.png" class="star" /></i>
            <i *ngIf="!item"><img src="../../../../content/images/star.png" class="star" /></i>
        </a>
        <form [formGroup]=calificacionForm class=green-life-form>
            <mat-form-field>
                <input matInput placeholder=Comentario formControlName=comentario>
            </mat-form-field>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <br>
        <button class="btn btn-sucess" (click)="agregar()" id="btnAgregarbutton">Agregar</button>
    </mat-dialog-actions>
</div>
