
<div *ngIf="solicitudPatrocinio">
    <h2><span>Solicitud Patrocinio</span> {{solicitudPatrocinio.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Fecha Creacion</span></dt>
        <dd>
            <span>{{solicitudPatrocinio.fechaCreacion | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Nombre</span></dt>
        <dd>
            <span>{{solicitudPatrocinio.nombre}}</span>
        </dd>
        <dt><span>Ced Juridica</span></dt>
        <dd>
            <span>{{solicitudPatrocinio.cedJuridica}}</span>
        </dd>
        <dt><span>Correo</span></dt>
        <dd>
            <span>{{solicitudPatrocinio.correo}}</span>
        </dd>
        <dt><span>Datos Adicionales</span></dt>
        <dd>
            <span>{{solicitudPatrocinio.datosAdicionales}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'solicitud-patrocinio/'+ solicitudPatrocinio.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
