<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySolicitudPatrocinioLabel">Create or edit a Solicitud Patrocinio</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!solicitudPatrocinio.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="solicitudPatrocinio.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_fechaCreacion">Fecha Creacion</label>
            <div class="input-group">
                <input id="field_fechaCreacion" type="text" class="form-control" name="fechaCreacion" ngbDatepicker  #fechaCreacionDp="ngbDatepicker" [(ngModel)]="solicitudPatrocinio.fechaCreacion"
                required/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="fechaCreacionDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.fechaCreacion?.dirty && editForm.controls.fechaCreacion?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.fechaCreacion?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="field_nombre"
                [(ngModel)]="solicitudPatrocinio.nombre" required maxlength="50"/>
            <div [hidden]="!(editForm.controls.nombre?.dirty && editForm.controls.nombre?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nombre?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nombre?.errors?.maxlength">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_cedJuridica">Ced Juridica</label>
            <input type="text" class="form-control" name="cedJuridica" id="field_cedJuridica"
                [(ngModel)]="solicitudPatrocinio.cedJuridica" required minlength="10" maxlength="10"/>
            <div [hidden]="!(editForm.controls.cedJuridica?.dirty && editForm.controls.cedJuridica?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.cedJuridica?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.cedJuridica?.errors?.minlength">
                   This field is required to be at least 10 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.cedJuridica?.errors?.maxlength">
                   This field cannot be longer than 10 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_correo">Correo</label>
            <input type="text" class="form-control" name="correo" id="field_correo"
                [(ngModel)]="solicitudPatrocinio.correo" required maxlength="10"/>
            <div [hidden]="!(editForm.controls.correo?.dirty && editForm.controls.correo?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.correo?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.correo?.errors?.maxlength">
                   This field cannot be longer than 10 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_datosAdicionales">Datos Adicionales</label>
            <input type="text" class="form-control" name="datosAdicionales" id="field_datosAdicionales"
                [(ngModel)]="solicitudPatrocinio.datosAdicionales" maxlength="200"/>
            <div [hidden]="!(editForm.controls.datosAdicionales?.dirty && editForm.controls.datosAdicionales?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.datosAdicionales?.errors?.maxlength">
                   This field cannot be longer than 200 characters.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
