<div>
    <h2>
        <span>Cobro Suscripcions</span>
        <button class="btn btn-primary float-right jh-create-entity create-cobro-suscripcion" [routerLink]="['/', { outlets: { popup: ['cobro-suscripcion-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down" >
            Create new Cobro Suscripcion
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="cobroSuscripcions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Fecha</span></th>
            <th><span>Pago</span></th>
            <th><span>Cliente</span></th>
            <th><span>Comercio</span></th>
            <th><span>Suscripcion</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cobroSuscripcion of cobroSuscripcions ;trackBy: trackId">
                <td><a [routerLink]="['../cobro-suscripcion', cobroSuscripcion.id ]">{{cobroSuscripcion.id}}</a></td>
                <td>{{cobroSuscripcion.fecha | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="cobroSuscripcion.pagoId">
                        <a [routerLink]="['../pago', cobroSuscripcion.pagoId  ]" >{{cobroSuscripcion.pagoId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="cobroSuscripcion.clienteId">
                        <a [routerLink]="['../cliente', cobroSuscripcion.clienteId  ]" >{{cobroSuscripcion.clienteId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="cobroSuscripcion.comercioId">
                        <a [routerLink]="['../comercio', cobroSuscripcion.comercioId  ]" >{{cobroSuscripcion.comercioId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="cobroSuscripcion.suscripcionId">
                        <a [routerLink]="['../suscripcion', cobroSuscripcion.suscripcionId  ]" >{{cobroSuscripcion.suscripcionId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../cobro-suscripcion', cobroSuscripcion.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'cobro-suscripcion/'+ cobroSuscripcion.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'cobro-suscripcion/'+ cobroSuscripcion.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
