<div class="container-fluid title-bar" *ngIf="clienteDetail">
    <div class="row">
        <div class="col">
            <h2 id="title-">{{clienteDetail.firstName + ' ' + clienteDetail.lastName}}</h2>
            <hr class="divider">
            <h1>Suscripciones</h1>
        </div>
    </div>
</div>

<div class="container main-container" *ngIf="cliente && clienteDetail && suscripciones;else noSuscripcion">
    <div class="row">
        <div class="col">
            <div class="img-container text-center">
                <img src="../../../../content/images/comcercio.png" alt="Comercios suscrito" height="140px">
            </div>
            <h2 id="subtitle">Comercios suscritos<span class="badge badge-primary">{{suscripciones.length}}</span></h2>
            <p class="info-text"><i class="fa fa-comment pr-3"></i>Recuerda que antes de cancelar una suscripción, deberás cancelar los pagos pendientes que tenga la suscripción.</p>
        </div>
    </div>
    <div class="row container-suscripciones">
        <div class="col-lg-4 col-sm-6 container-suscripcion" *ngFor="let suscripcion of suscripciones">
            <div class="card">
                <h5 class="card-header">{{suscripcion.comercio.nombreComercial}}
                    <span class="badge badge-secondary float-right">0</span>
                    <span class="float-right card-header-subtitle">Pedidos</span>
                    <a class="float-right"><i class="fa fa-plus-square"></i></a>
                </h5>
                <div class="card-body">
                    <h6 class="card-title">{{suscripcion.comercio.tipo | titlecase}}</h6>
                    <p class="card-text">Estado: {{suscripcion.suscripcion.estado | titlecase}} </p>
                    <p class="card-text">Corte de pago: {{suscripcion.suscripcion.fechaCobro | date:'dd'}} de cada mes.</p>
                    <p class="card-text">Suscrito desde: {{suscripcion.suscripcion.fechaCreacion | date}}.</p>
                    <button class="btn btn-sm btn-cancelar-suscripcion"><i class="fa fa-ban"></i>Cancelar</button>
                    <button class="btn btn-sm btn-pagar-suscripcion"><i class="fa fa-paypal"></i>Pagar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template class="container" id="no-suscripcion" #noSuscripcion>
    <div class="row">
        <div class="col text-center">
            <h1 class="title-no-suscripcion">No estás suscrito a ningún comercio</h1>
            <h1><span class="badge badge-primary">0</span></h1>
            <div class="img-container-no-suscripcion text-center">
                <img src="../../../../content/images/comcercio.png" alt="Comercios suscrito" height="180px">
            </div>
            <h2 class="subtitle-no-suscripcion">Busca comercios y suscríbete para poder administrar tus suscripciones y realizar pedidos.</h2>
        </div>
    </div>
</ng-template>
