<div class="title-bar-config">
    <h1>Administración de Mis Comercios</h1>
</div>
<body>
<div class="container">
    <div class="row">
        <div class="col mb-5">
            <h3 class="subtitle1">Administra los locales, clientes suscritos, productos y categorías de alimentación de todos tus comercios.</h3>
            <div class="img-container text-center">
                <img src="../../../../content/images/local.png" alt="Comercios suscrito" height="140px">
            </div>
            <h2 class="subtitle2">Comercios disponibles<span class="badge badge-vista-usuario">{{comercios.length}}</span></h2>
        </div>
    </div>
    <div class="row" *ngIf="comercios.length > 0">
        <div class="col">
            <jhi-servicio-suscripcion></jhi-servicio-suscripcion>
        </div>
    </div>
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Mis comercios</h2>
                </div>
                <div class="col-sm-6">
                    <a class="btn btn-success" data-toggle="modal" (click)="agregarComercio()"><i class="material-icons">&#xE147;</i> <span>Nuevo comercio</span></a>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Cédula jurídica</th>
                <th>Razón social</th>
                <th>Nombre comercial</th>
                <th>Tipo</th>
                <th>Fecha de creación</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let comercio of comercios">
                <td>{{comercio.comercio.cedJuridica}}</td>
                <td>{{comercio.comercio.razonSocial}}</td>
                <td>{{comercio.comercio.nombreComercial}}</td>
                <td>{{comercio.comercio.tipo | titlecase}}</td>
                <td>{{comercio.comercio.fechaCreacion | date:"dd/MM/y"}}</td>
                <td>
                    <a class="editar" data-toggle="modal" [routerLink]="'/app/comercios/' + comercio.comercio.id + '/editar'"><i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i></a>
                    <a class="eliminar" data-toggle="modal" (click)="eliminarComercio(comercio.comercio)"><i class="material-icons" data-toggle="tooltip" title="Eliminar">&#xE872;</i></a>
                    <a class="local" [routerLink]="'/app/comercios/' + comercio.comercio.id + '/locales'"><i class="material-icons" data-toggle="tooltip" title="Locales">store_mall_directory</i></a>
                    <a class="categoria" [routerLink]="'/app/comercios/' + comercio.comercio.id + '/categorias'"><i class="material-icons" data-toggle="tooltip" title="Categorias">ballot</i></a>
                    <a class="suscripcion" [routerLink]="'/app/comercios/' + comercio.comercio.id + '/suscripciones'"><i class="material-icons" data-toggle="tooltip" title="Suscripciones">local_shipping</i></a>
                    <a class="productos" [routerLink]="'/app/comercios/' + comercio.comercio.id + '/productos'"><i class="material-icons" data-toggle="tooltip" title="Productos">local_grocery_store</i></a>
                    <a class="etiqueta" (click)="consultarEtiquetas(comercio.comercio)"><i class="material-icons" data-toggle="tooltip" title="Etiquetas">label</i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
