// verde de configuración
$config-green-color: #6AABAD;

// verder regular
$green-color: #46B97E;

// texto de cuerpo
$config-dark-gray-color: #40535C;

// gris azulado claro
$lightgray-color: #6AABAD;

// celeste
$babyblue-color: #38CAE0;

// Rojo Alerta
$warning-color: #E74C3C;
