@import 'green-life-variables';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';
@include mat-core();
// Tipografia Green Life
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i');
// Declaracion de la tipografia Lato
$custom-typography: mat-typography-config( $font-family: 'Lato, sans-serif');
// Sobreescribe la tipografia para todos los componentes de Angular Material
@include angular-material-typography($custom-typography);
@include mat-core($custom-typography);
// css global
.br {
    display: inline-block !important;
    margin: 0px !important;
    position: inherit !important;
}

.title-bar,
.title-bar-config {
    color: #FFFFFF;
    padding: 20px;
    margin: 0 0 20px;
    background: $green-color;
}

.title-bar-config {
    background: $config-green-color;
}

.title-bar-config h1,
.title-bar h1 {
    display: inline-flex;
    font-size: 46px;
    font-weight: 700;
}

.title-bar-right-section h3 {
    font-size: 20px;
}

.title-bar .right-section-icon,
.title-bar-config .right-section-icon {
    font-size: 48px;
}

.title-bar-config .icon,
.title-bar .icon {
    &.icon {
        padding: 0 25px;
        .iconImg {
            height: 55px;
            width: 55px;
            display: inline-block;
            vertical-align: top;
            background-size: contain;
        }
    }
}

.green-life-form .ng-invalid:not(form) {
    border-left: unset;
}

.spacer {
    flex: 1 1;
}

$box-shadow: 0 1px 3px rgba(50,
50,
93,
.11),
0 1px 3px rgba(0,
0,
0,
.08);
$border-radius: 6px;
.btn-success {
    background-color: $green-color !important;
    border-color: $green-color !important;
    border-radius: $border-radius;
    -webkit-box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
}

.btn-danger {
    background-color: $warning-color !important;
    border-color: $warning-color !important;
    border-radius: $border-radius;
    -webkit-box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
}

.btn-atras {
    background-color: $config-dark-gray-color !important;
    border-color: $config-dark-gray-color !important;
    border-radius: $border-radius;
    color: #FFFFFF !important;
    -webkit-box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
}

.mat-icon-button:focus,
.mat-button:focus {
    outline: unset;
}

.green-life-form mat-form-field {
    width: 100%;
}

.badge-vista-usuario {
    border-radius: $border-radius;
    -webkit-box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
    color: #FFFFFF;
    background: $config-dark-gray-color;
}

// Green Life Cards Styles
.card-green-life {
    color: $config-dark-gray-color;
    background: #f7f7f7;
    border: none;
    border-radius: $border-radius;
    -webkit-box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
}

.card-header-green-life,
.card-green-life .card-header {
    color: #FFFFFF;
    background: $green-color;
    border: none;
    border-radius: $border-radius;
    -webkit-box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
}

.card-header-subtitle-green-life,
.card-green-life .card-header-subtitle {
    float: right;
    margin-top: 2px;
    font-size: 17px;
}

.card-title-green-life,
.card-green-life .card-title {
    color: $green-color;
    font-size: 18px;
    font-weight: 700;
}

.card-text-green-life,
.card-green-life .card-text {
    margin: 0 0 7px 0;
    font-size: 17px;
}

.card-badge-green-life,
.card-green-life .card-badge {
    margin: 0 0 0 12px;
    border-radius: $border-radius;
    -webkit-box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
    color: $green-color;
    background: #FFFFFF;
}

.btn-primary-card-green-life,
.btn-secondary-card-green-life {
    margin: 20px 0 0 0;
    font-size: 16px;
    border-radius: $border-radius;
    -webkit-box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
    .fa {
        padding: 0 8px 0 0;
    }
}

.btn-primary-card-green-life {
    float: left;
    color: #FFFFFF;
    background: $config-dark-gray-color;
}

.btn-secondary-card-green-life {
    float: right;
    color: #FFFFFF;
    background: $warning-color;
}

// Green Life Cards Styles
.green-life-accordion .mat-expansion-panel-body {
    max-height: 615px !important;
    overflow: scroll !important;
}

.divider {
    background: #FFFFFF;
    max-width: 200px;
    -webkit-box-shadow: 0 1px 3px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    -moz-box-shadow: 0 1px 3px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    box-shadow: 0 1px 3px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}

.btn-atras-header-configuracion {
    margin: 12px 0 0 8px;
    color: $config-green-color;
    background: #FFFFFF;
    float: right;
    border-radius: $border-radius;
    -webkit-box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
}

.sidescroll .mat-expansion-panel-body {
    overflow: auto;
}