<div class="ctn">
    <h3 mat-dialog-title="">Etiquetas</h3>
    <mat-dialog-content>
        <div *ngIf="etiquetas?.length;else other_content">
            <mat-chip-list *ngFor="let etiqueta of etiquetas">
                <mat-chip>{{etiqueta.nombre}}</mat-chip>
            </mat-chip-list>
        </div>
        <ng-template #other_content>
            <p>No se han encontrado etiquetas</p>
        </ng-template>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button type="button" class="btn btn-secondary" mat-dialog-close id="btnCancelar">Cerrar</button>
    </mat-dialog-actions>
</div>
