@import './../../../../content/scss/green-life-variables';

.ctn {
    font-family: 'Lato', sans-serif;
}

button {
    border-radius: 6px;
}
#btnCancelar {
    background: $warning-color;
}

mat-chip-list {
    display: inline-block;
}

mat-chip {
    margin-right: 5px;
}

mat-dialog-actions {
    margin-top: 10px;
}
