<div class="ctn">
    <div class="modal-header">
        <h3>Etiquetas</h3>
    </div>
    <div *ngIf="etiquetas?.length;else other_content">
        <mat-list role="list" *ngFor="let etiqueta of etiquetas">
            <mat-list-item role="listitem">{{etiqueta.nombre}}</mat-list-item>
        </mat-list>
    </div>
    <ng-template #other_content>
        <mat-list role="list">
            <mat-list-item role="listitem">No se han encontrado etiquetas</mat-list-item>
        </mat-list>
    </ng-template>
    <div class="modal-footer">
            <button type="button" class="btn btn-secondary" mat-dialog-close id="btnCancelar">Cerrar</button>
    </div>
</div>
