<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Restablecer contraseña</h1>

            <div class="alert alert-danger" *ngIf="errorEmailNotExists">
                <strong>La dirección de correo electrónico no está registrada.</strong> Por favor verifica y vuelte a intentarlo.
            </div>

            <div class="alert alert-warning" *ngIf="!success">
                <p>Ingrese la dirección de correo electrónico que utilizó para registrarse.</p>
            </div>

            <div class="alert alert-success" *ngIf="success === 'OK'">
                <p>Revise sus correos para obtener detalles sobre cómo restablecer su contraseña.</p>
            </div>

            <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" #resetRequestForm="ngForm">
                <div class="form-group">
                    <label class="form-control-label" for="email">Correo electrónico</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Your email"
                           [(ngModel)]="resetAccount.email" minlength=5 maxlength=100 #emailInput="ngModel" email required>
                    <div *ngIf="emailInput.dirty && emailInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.required">
                            Correo electrónico requerido.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.email">
                            Dirección de correo electrónico inválido.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.minlength">
                            El correo electrónico debe de tener al menos 4 caracteres.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.maxlength">
                            El correo electrónico no puede tener mas de 100 caracteres.
                        </small>
                    </div>
                </div>
                <button type="submit" [disabled]="resetRequestForm.form.invalid" class="btn btn-primary">Restablecer</button>
            </form>

        </div>
    </div>
</div>
